body{
    background-color: #363434;
    color: #ffff;
    font-family: 'Rubik', sans-serif;
    width: 100vw;
}

li{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.input-align{       
    border-radius: 45px;
    width: 25vw;
    padding: 5px;       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-align h1{
    margin-bottom: 10px;    
}

.input-align button{
    margin-top: 15px;
    padding: 7px 15px;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 45px;
    background-color: #000000;
    color: #ffff;
    border: none;
    transition: 0.25s ease-in-out;
}

.input-align button:hover{
    background-color: #ffff;
    color: #000000;
    transition: 0.25s ease-in-out;
    font-weight: bold;
}

.input-item-style{
    margin: 2% 0;
    padding: 5px;   
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-item-style input{
    background-color: #ffff;
    padding: 5px;
    border-radius: 45px;
}

.output-align{    
    display: flex;
    flex-direction: column;
    align-items:center ;
    width: 25vw;
    gap: 20px;

}

.output-item-style{
    border: 2px solid #ffff;
    border-radius: 45px;
    display: flex;
    gap: 20px;
    width: 35vw;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
}

.output-item-style button{
    width: 30%;
    height: 30px;
    cursor: pointer;
}

.main-align{
    display: flex;     
    width: 100vw;
    gap: 400px;          
}


